/* Main page */
.page-main-body {
    display: flex;
    justify-content: center;
    
}
.page-main-body h2,h3,h4,h5,h6{
    margin-bottom: 0 !important;
}

.page-main-body .container-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* Map img */
.page-main-body .container-width object {
    width: 83%;
}

.clickable-area {
    cursor: pointer;
    transition: transform 0.3s ease-in, filter 0.3s ease-in;
}

/* Litle info box appears when we hover parts */

.info-box {
    position: absolute !important;
    display: none;
    font-family: 'MarkPro', sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 240px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 10px rgba(3, 40, 73, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;

}

.info-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 6px;

}

.info-text {
    color: #2D2D2D;
    font-weight: 500;
}

.info-box>div:nth-child(2) div,
.info-box>div:nth-child(5) div,
.male-color {
    color: #0059A7;
    font-weight: 800;
    line-height: 24px;
    text-align: left;

}

.info-box>div:nth-child(3) div,
.info-box>div:nth-child(4) div {
    color: #E73B8E;
    font-weight: 800;
    line-height: 24px;
    text-align: left;

}

.info-box h5 {
    font-weight: bold;
}

.modal-more-btn:hover {
    background-color: rgb(223, 241, 255);

}


/* Map details box appears when  we click "etrafli" in infobox */

.map-details-content-statistic-each>div>span,
.map-details-statistic-each-bycity .info-text span {
    font-size: 1.25em;
    font-weight: 800;
}

.map-details-statistic-each-bycity div div div h3 {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0 !important;

}

.map-details-content-statistic-each>div>p {
    color: #6C6C6C;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: left;


}

.map-details-content-statistic-each>div>img {
    width: 32px;
}

.details-content-article>h2 {
    font-size: 34px;
    font-weight: 700;

}

.map-details-content-statistic-each>div>h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #000000;

}


.modal-more-btn {
    border: 1px solid #1268B3;
    width: 100%;
    height: Hug (40px)px;
    padding: 8px 24px 8px 24px;
    gap: 4px;
    border-radius: 4px;
    opacity: 0px;
    background-color: transparent;
    color: #1268B3;
    font-weight: 700;
    margin-top: 16px;

}


.details-overlay {
    display: none;
    background-color: #1F262D73;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;

}

.details-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: #FFFFFFBF;
    padding: 44px;
    border-radius: 16px;

}

.details-overlay .container-width {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    flex-direction: column;

}

.details-overlay {
    justify-content: center;
}

.details-content-top {
    display: flex;
    justify-content: space-between;
}

.details-content-article {
    width: 30%;
}

.map-details-content-statistic-main {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
}

.map-details-content-statistic-each {
    width: 45%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: 2px solid #1268B3;

}

.map-details-content-statistic-each div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-details-content-statistic-each div p {
    margin: 0 !important;
}

.map-details-statistic-main-bycity {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 410px;
    overflow-y: auto;
    margin-top: 20px;

}

.map-details-statistic-each-bycity>div {
    position: relative;
    width: 99%;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    z-index: 6;
    padding: 16px;
    /* gap: 16px; */
    border-radius: 8px;
    border: 2px solid #1268B3;
    opacity: 0px;

}

.map-details-statistic-each-bycity div {
    display: flex;
}

.map-details-statistic-each-bycity>span {
    height: Hug (48px)px;
    padding: 0px 16px 16px 16px;
    gap: 8px;
    border-radius: 8px 8px 0px 0px;
    opacity: 0px;
    background-color: #1268B3;
    color: white;
}

.map-details-statistic-main-bycity::-webkit-scrollbar {
    width: 8px;
}

.map-details-statistic-main-bycity::-webkit-scrollbar-track {
    background: #1268B3;
    border-radius: 4px;
}

.map-details-statistic-main-bycity::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 4px;
}




.details-overlay>.container-width>button>img {
    width: 36px;
    height: 36x;

    margin-bottom: 10px;
}

.map-details-statistic-each-bycity>div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.map-details-statistic-each-bycity>div p {
    margin: 0 !important;
}

.map-details-statistic-each-bycity>div>div {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    justify-content: center;

}

.map-details-statistic-each-bycity>div>div div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-details-statistic-each-bycity>div>div:first-child {
    border-right: 2px solid #1268B3;

}

.map-details-statistic-each-bycity>div>div:nth-child(2) {
    border-right: 2px solid #1268B3;

}

.map-details-statistic-each-bycity>div>div:nth-child(3) {
    border-right: 2px solid #1268B3;

}

.close-details-map {
    border: none;
    background-color: transparent;
}



/* Media queries,(I think they must be at responsive.css but you wrote add all your css to this file therefore i write it here) */

@media screen and (max-width: 1150px) {

    .details-overlay .container-width {
        width: 81%;
    }
}

@media screen and (max-width: 915px) {

    .details-content-top {
        flex-direction: column;
    }

    .details-content-top>div {
        width: 100%;
        text-align: center;

    }

    .map-details-statistic-each-bycity>div>div {

        padding: 0 10px;

    }




}

@media screen and (max-width: 768px) {
    .details-overlay .container-width {
        width: 100%;
        align-items: center;
    }

    .details-content {
        border-radius: 0;
    }


    .map-details-statistic-each-bycity>div div {
        width: 50%;
    }

    .map-details-statistic-each-bycity>div div:first-child {
        margin-bottom: 16px;

    }

    .map-details-statistic-each-bycity>div div:nth-child(2) {
        border-right: none;
        margin-bottom: 16px;

    }

    .details-content {
        padding: 20px;
    }

    .map-details-content-statistic-each {
        padding: 10px;
    }

    .map-details-content-statistic-each p {
        font-size: 12px;
    }

    .map-details-statistic-main-bycity {
        max-height: 252px;
    }

    .map-details-content-statistic-each>div>h3 {
        font-size: 24px;
    }
    .map-details-content-statistic-each>div>span, .map-details-statistic-each-bycity .info-text span{
        font-size: 16px;
    }
}



/* Basic styles for the infoBox */
#info-box {
    position: absolute;
   
    transition: top 0.3s, left 0.3s;
    /* z-index: 1000; */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    #info-box {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .map-details-content-statistic-each {
        width: 48%;
    }

    .map-details-content-statistic-main {
        gap: 10px;
    }
    .map-details-content-statistic-each>div>p {
        font-size: 12px;
    }
    .map-details-statistic-main-bycity {
        max-height: 220px;
    }
    .map-details-content-statistic-each>div>img {
        width: 24px;
    }
    .details-content-article>h2{
        font-size: 24px;
    }
    .details-content-article>p{
        font-size: 12px;
    }
    #info-box {
        font-size: 0.8em;
        padding: 16px;
        z-index: 1000;
        max-width: 190px;
        max-height: 196px;
    }
    .map-details-content-statistic-each>div>span{
        font-size: 12px;
    }
    .map-details-statistic-each-bycity div div div h3{
        font-size: 24px;
    }
    .map-details-content-statistic-each {
        padding: 5px 10px;
        gap: 10px;
    }
    .map-details-statistic-main-bycity{
        margin-top: 10px;
    }
    .map-details-statistic-each-bycity>div {
        padding: 10px 3px;
    }
    .map-details-statistic-main-bycity>div div p{
        font-size: 12px;
    }
    .map-details-statistic-each-bycity .info-text span{
        font-size: 12px;
    }
    .info-box div{
        font-size: 12px;
        margin-top: 2px;
    }
    .info-box div img{
        width: 14px;
        height: 16px;
    }
    .info-box h5{
        font-size: 16px;
    }
    .modal-more-btn{
        margin-top: 4px;
    }

}
