/** Image classed **/
.frq-richtext-img-class-align-left {
	float: left;
	padding: 10px 10px 10px 0;
}

.frq-richtext-img-class-align-right {
	float:right;
	padding: 10px 0 10px 10px;
}

.frq-richtext-img-class-align-center {
	padding: 10px 10px 10px 10px;
}